<p>Music Manager App</p>
<button>Home</button>
<input type="button" style="background-color:black;color:white;width:150px;
height:40px;" value="Home">
.button_css
{
	background-color: black;
	color: white;
	width: 150px;
	height: 40px;
}
<input type="button" class="button_css" value="Home">
<html>
	<head>
		<title>Button Color Demo</title>
	</head>
	<body>
<input type="button" style="background-color:black;color:white;width:150px;height:40px;" value="Home">
	</body>
</html>
<button>Profile</button>
<button>Logout</button>